{# LibraryProject/bookshelf/templates/bookshelf/form_example.html #}
{% extends "base.html" %}
{% block content %}
  <h1>Add or Edit Book</h1>
  <form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
      {{ form.title.label_tag }}<br>
      {{ form.title }}
      {{ form.title.errors }}
    </div>
    <div>
      {{ form.author.label_tag }}<br>
      {{ form.author }}
      {{ form.author.errors }}
    </div>
    <div>
      {{ form.cover.label_tag }}<br>
      {{ form.cover }}
      {{ form.cover.errors }}
    </div>
    <button type="submit">Save</button>
  </form>
{% endblock %}
